*{
    font-family: Verdana, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FF5CCB;
}

/*----------------
NAV
------------------*/

nav {
    background-color: #8BEACA;
}

.navbar, .offcanvas {
    background-color: #8BEACA;  
    padding: 0.25rem .5rem 0.25rem .5rem;
}

.icon {
    width: 3rem;
    margin-right: 1rem;
}

.nav-item {
    margin: 0 1rem 0 1rem;
}

.navbar-nav .nav-link.active {
    color: #FF5CCB;
    font-weight: bold;
    text-decoration: underline;
}

.navbar-brand {
    text-decoration: underline;
    text-decoration-color: #FF5CCB;
    text-decoration-thickness: 4px;
}

a .navbar-brand {
    margin: 0px 30px 0px 30px;
}

/*----------------
MAIN
------------------*/

main {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.welcome {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.home-table, .home-table tr, .home-table td {
    border: 0.5rem solid #FF5CCB;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 0px 20px 0px 20px;
}

.card-img-top {
    object-fit: cover;
    height: 300px;
}

.table {
    width: 50%;
    border: 0.5rem solid #FF5CCB;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/*----------------
BLOG MAIN
------------------*/
.blog-title {
    text-align: center;
}

.blog-main {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blog-table {
    width: 50%;
    border: 0.25rem solid #FF5CCB;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.blog-table td {
    padding: 0.5rem;
}

.blog-table tr, .blog-table td {
    border: 0.1rem solid #FF5CCB;    
}

/*----------------
FOOTER
------------------*/

footer {
    background-color: #8BEACA;
    text-align: center;
    margin: auto;
    padding: 0.25rem .5rem 0.25rem .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact {
    color: black;

}

.footer-text {
    margin-top: 10px;
}

/*----------------
CLEARFIX
------------------*/

.clearfix {
    overflow: auto;
  }